<h1>{{user.username}}'s Sick Bucket List!!!</h1>
    {{#each user.list}}
      <li>{{this.name}}</li>
      <li>{{this.completed}}</li>
      <br/>
    {{/each}}
    <a href="/{{user.id}}/new">add new item</a>
