<ul>
  {{#each idea}}
    <li>Description: {{this.description}}</li>
    <li>In Progress? {{this.in_progress}}</li>
    <li>Created At: {{this.created_at}}</li>
    <li>Updated At: {{this.updated_at}}</li>
    <br/>
  {{/each}}
</ul>

